# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Docker files
Dockerfile
Dockerfile.*

# Build directories
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.tgz
*.swp
.DS_Store
.vscode/
.idea/
*.iml