<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333333;
        }

        h2 {
            color: #007BFF;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        .message {
            margin-top: 20px;
            padding: 10px;

            background-color: <% if (success) {
                %>#dff0d8;
                <%
            }

            else {
                %>#f8d7da;
                <%
            }

            %>border: 1px solid <% if (success) {
                %>#3c763d;
                <%
            }

            else {
                %>#d9534f;
                <%
            }

            %>border-radius: 5px;

            color: <% if (success) {
                %>#3c763d;
                <%
            }

            else {
                %>#d9534f;
                <%
            }

            %>
        }

        .footer {
            margin-top: 20px;
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Email Verification</h2>
        <% if (success) { %>
            <div class="message">
                <p>Congratulations 🎉 !!! Email verified successfully.</p>
                <p>Log In to your account to start using the microURLs</p>
            </div>
            <% } else { %>
                <p class="message">Error: <%= errorMessage %>
                </p>
                <% } %>
                    <div class="footer">
                        <p>Best regards,<br>microURLs</p>
                    </div>
    </div>
</body>

</html>