<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Redirecting Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .error-container {
            text-align: center;
        }

        .error-title {
            font-size: 3rem;
            color: #333;
            margin-bottom: 1rem;
        }

        .error-message {
            font-size: 1.5rem;
            color: #666;
            margin-bottom: 1rem;
        }

        .original-link {
            font-size: 1.2rem;
            color: #333;
            margin-bottom: 1rem;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="error-container">
            <h1 class="error-title">Error</h1>
            <p class="error-message">An error occurred while redirecting to the shortened URL.</p>
            <p class="original-link">Make sure that URL is correct. To lean more about microURls <a
                    href="<%= LinkToHome %>">visit site</a>
            </p>
        </div>
    </div>
</body>

</html>